@using CathysWebsite.Controllers
@model CathysWebsite.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Reviews", FormMethod.Post, 
    new { enctype = "multipart/form-data" }))
{  
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Link)
        @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Image, "Image")
        @Html.TextBoxFor(m => m.Image, new { @class = "form-control", type = "file" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateWritten)
        @Html.TextBoxFor(m => m.DateWritten, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <button type="submit">Save</button>
}
